@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signinm
@inject UserManager<IdentityUser> user


@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@*@if (signinm.is())
{
    <div>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
}*@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
