@using EndPoint.Site.Areas.Admin.Models.ContollerModels.Product;
@model ProductModelsClass
@addTagHelper *,LazZiya.TagHelpers
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Syncfusion.EJ2

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}
@section Head{
}

<!-- BEGIN: Content -->
<div class="content">
    <div class="intro-y flex items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
            Modal
        </h2>
    </div>
    <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="intro-y col-span-12 lg:col-span-12">
            <form id="aa">
                <input asp-for="Pic" type="text" />
            </form>
            <!-- BEGIN: Blank Modal -->
            <div class="intro-y box">
               
                <div id="blank-modal" class="p-5">
                    <div class="preview">
                        <!-- BEGIN: Modal Toggle -->
                        <div class="text-center"> <a href="javascript:;" data-tw-toggle="modal" data-tw-target="#basic-modal-preview" class="btn btn-primary">Show Modal</a> </div>
                        <!-- END: Modal Toggle -->
                        <!-- BEGIN: Modal Content -->
                        <div id="basic-modal-preview" class="modal d-flex justify-center text-right" tabindex="-1" aria-hidden="true">      
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body p-10 text-center">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END: Modal Content -->
                    </div>
                </div>
            </div>
            <!-- END: Blank Modal -->
          
        </div>
    </div>
</div>
<!-- END: Content -->
@section Scripts{
    <script>
        $('#Pic').on('click',function(){
            $('#basic-modal-preview').modal('show');
        });
    </script>
}









